<!DOCTYPE html>
<html>
<body style="background-color:#FF0000;">


<h1>My Shopping List</h1>
<p>Things to buy : </p>

<form method="POST">
  <label for="name">Item :</label>

  <input
    type="text"
    id="name"
    name="item"
    required
    minlength="2"
    maxlength="20"
    size="20" />

  <button type="submit">Ajouter</button>
</form>

<p>Already in the list :</p>
  <ul>
      {% for chose in liste_html %}
        <li>{{ chose[1] }}</li>
      {% endfor %}
  </ul>
</body>
</html>

